html body{
    color: white;
    background: #21232a;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 50px;
}

input{
    color: gray;
    padding: 5px;
    width: 100%;
}

.text-gray{
    color: #21232a;
}

.card-j{
    min-height: 300px;
}